<h1>Search for News</h1>
<form action="/results" method="GET">
    <input type="text" placeholder="Topic"name = "topic">
    <input type="text" placeholder="yyyy-mm-dd"name="date">
    <input type="submit">
</form>